@import "tailwindcss";
@import 'swiper/css';
:root {
  --primary-color: #98171B;
  --dark-color: #000000;
  --light-color: #ffffff;
  --bg-muted: #d4d4d4;
  --text-muted: #6B7280;
  --accent-color: #98171B;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: lab(96.286% -.852466 -2.46847);
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn .25s ease-out;
}
